{%extends 'general/base.html' %}
{% block dashboard %}
<h1> Cancelar Cita</h>
{% endblock dashboard %}

{% block content %}
  
<div class="row" style="display: flex; margin: auto;">
    <div class="col-lg-8 col-lg-7 mx-auto" style="margin: auto;">
        <div class="dash-unit" style="height: 750px; padding: 20px; margin: auto;">
            <form action="" method="POST">
                {% csrf_token %}
                <h2> ¿Estas seguro(a) de cancelar la cita del {{cita.fecha}} ?</h2>
                <hr>
                <div style=" margin: 20px; ">
                    <button type="submit" class="btn btn-danger"> Cancelar Cita</button>
                    <a href="javascript:history.back()" class="btn btn-success">Cancelar</a>
                </div>
            </form>
        </div>
    </div>   
</div>   

  {% if form.errors %}
    <div class="errors">
        {{ form.errors }}
    </div>
  {% endif %}
{% endblock %}