{%extends 'general/base.html' %}
{% load static%}

{% block titulo %}
Citas
{% endblock titulo %}

{% block link %}

<link rel="stylesheet" href=" {% static 'fullcalendar/lib/main.css' %}">

<style>

    .centered-container {
        margin-top:20px;
        margin-bottom:40px;

        display: flex;
        align-items: center; /* Centrar verticalmente */
        justify-content: center; /* Centrar horizontalmente */
        height: 20vh; /* Altura total de la ventana de visualización, ajusta según necesites */
    }

       
    /* ... Resto del CSS ... */

    
    .btn-primary {
        border: none;
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.2s ease-in-out;
    }
    
    .btn-primary:hover {
        background-color: #0056b3;
    }
    .card1 {
        /* Estilos existentes para tu tarjeta */
        position: relative; /* Esto es necesario para posicionar correctamente el pseudo-elemento */
    }
    
    .card1:before {
        content: ''; /* Esto es necesario para que el pseudo-elemento se genere */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /* Esto hará que la línea se extienda a lo largo de toda la tarjeta */
        height: 4px; /* Ajusta el grosor de la línea aquí */
        background-color: #239db9; /* Ajusta el color de la línea aquí */
    }

    .card-error {
        /* Estilos existentes para tu tarjeta */
        position: relative; /* Esto es necesario para posicionar correctamente el pseudo-elemento */
    }
    
    .card-error:before {
        content: ''; /* Esto es necesario para que el pseudo-elemento se genere */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /* Esto hará que la línea se extienda a lo largo de toda la tarjeta */
        height: 4px; /* Ajusta el grosor de la línea aquí */
        background-color: #F6C344; /* Ajusta el color de la línea aquí */
    }

</style>

{%endblock link%}
{% block dashboard %}
<h1>Cita {{cita.fecha}}</h1>     
{% endblock dashboard %}

{% block content %}
<div class = "conteiner">
    <div class = "row">
                <!--div class = "col-lg-6">
                    <small class ="text-danger text-center"> <!--Mensaje de error, modificacion, etc(sustituido abajo)->
                    {% if messages %}
                        {% for message in messages%}
                            {{message | safe}} <br>,
                        {% endfor%}
                    {% endif %}
                    </small>

                </div-->
        <div class="card col-lg-5" style="border: 2px solid #ccc; border-radius: 15px;">
            <div class="card-header">
                <i class="fa-solid fa-calendar-days" style="color: #239db9;"></i> <strong>Cita del {{cita.fecha}}</strong>
            </div>
            <div class="card card1">
                <div class="card-body">
                    <h1 class="card-title">Paciente: {{ cita.paciente.first_name}} {{cita.paciente.last_name}} {{cita.paciente.apellido_materno}}</h1>
                    <p class="card-text">Fecha y hora: {{ cita.fecha }}, {{ cita.hora_trabajo.hora_inicio| time:"H:i"}}</p>
                    <p class="card-text">Dentista: {{ cita.dentista }}</p> <!--Añadir mas detalles del dentista, especializacion, clinica, etc-->
                    
                </div>
            </div>

            <div class="d-flex flex-wrap">
                <div class="col-md-4 mb-3">
                    <a href="{% url 'CitaCrear'%}" class="btn bg-info" style="text-decoration: none; border-radius: 15px; position: relative; font-size: 1.5vw;">
                    <div class="card-body">
                        <i class="fa-regular fa-user fa-3x" ></i>
                        <h2 style="font-size: x-large;  margin-bottom: 0;">Ver Ultimos Tratamientos</h2>
                    </div>
                    </a>
                </div>

                <div class="col-md-4 mb-3">

                    <a href="{% url 'CitaCrear'%}" class="btn bg-info" style="text-decoration: none; border-radius: 15px; position: relative; font-size: 1.5vw; ">
                        <div class="card-body">
                        <i class="fa-regular fa-id-card fa-3x" ></i>
                        <h2 style="font-size: x-large;  margin-bottom: 0;">Ver Historial Clinico</h2>
                        </div>
                    </a>
                </div>
           
                <div class="col-md-4 mb-3">
                    <a href="{% url 'CitaCrear'%}" class="btn bg-info" style="text-decoration: none; border-radius: 15px; position: relative; font-size: 1.5vw;">
                        <div class="card-body">
                            <i class="fa-solid fa-tooth fa-3x" ></i> 
                            <h2 style="font-size: x-large;  margin-bottom: 0;">Ver Odontograma</h2>
                        </div>
                    </a>
                </div>
            </div> 
        </div>
        

        <div class="col-lg-6" style="border: 2px solid #ccc; padding: 10px; border-radius: 15px; margin-left: 10px">
            <div id="calendar" ></div>
        </div>
    </div>
</div>   
{% endblock %}

{% block script%}
<script src="{% static 'fullcalendar/lib/main.js' %}"></script>
<script src="{% static 'fullcalendar/lib/locales-all.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function(){
            var calendarUI = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarUI, {
                headerToolbar:{
                    left: 'prev,next today',
                    center:'title',                    
                    right: 'dayGridMonth,dayGridWeek,dayGridDay',
                },
                events: [
                    {
                        title: 'Consulta {{cita.paciente}}',
                        start: '{{cita.fecha | date:"Y-m-d"}}T{{cita.hora_trabajo.hora_inicio| time:"H:i:s"}}', 
                        end: '{{cita.fecha | date:"Y-m-d"}}T{{cita.hora_trabajo.hora_fin | time:"H:i:s"}}',
                    },
                ]
            });
            calendar.render();
            calendar.setOption('locale','es');
        });
    </script>
    <script>
        $(document).ready(function() {
            $(".evento-fila").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{%endblock script%}
