{%extends 'general/base.html' %}
{% block dashboard %}
<h1>Editar cita</h1>
{% endblock dashboard %}

{% block content %}
    <div class= "mb-3">
        <form method="post" enctype="multipart/form-data">
            <div class= "mb-3">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Guardar</button>
            <a href ="javascript:history.back()"class="btn btn-danger" type="submit">Cancelar</a> 
            </div>
        </form>
    </div>
    {% if form.errors %}
    <div class="errors">
        {{ form.errors }}
    </div>
    {% endif %}
{% endblock %}