{% extends 'general/base.html' %}
{% load static%}

{% block titulo %}
Agenda
{% endblock titulo %}

{% block link %}

<link rel="stylesheet" href=" {% static 'fullcalendar/lib/main.css' %}">
<!--link rel="stylesheet" href=" https://bootswatch.com/5/minty/bootstrap.min.css"-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

<style>

    .centered-container {
        margin-top:20px;
        margin-bottom:40px;

        display: flex;
        align-items: center; /* Centrar verticalmente */
        justify-content: center; /* Centrar horizontalmente */
        height: 20vh; /* Altura total de la ventana de visualización, ajusta según necesites */
    }

       
    /* ... Resto del CSS ... */

    
    .btn-primary {
        border: none;
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.2s ease-in-out;
    }
    
    .btn-primary:hover {
        background-color: #0056b3;
    }
    .card1 {
        /* Estilos existentes para tu tarjeta */
        position: relative; /* Esto es necesario para posicionar correctamente el pseudo-elemento */
    }
    
    .card1:before {
        content: ''; /* Esto es necesario para que el pseudo-elemento se genere */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /* Esto hará que la línea se extienda a lo largo de toda la tarjeta */
        height: 4px; /* Ajusta el grosor de la línea aquí */
        background-color: #239db9; /* Ajusta el color de la línea aquí */
    }

    .card-error {
        /* Estilos existentes para tu tarjeta */
        position: relative; /* Esto es necesario para posicionar correctamente el pseudo-elemento */
    }
    
    .card-error:before {
        content: ''; /* Esto es necesario para que el pseudo-elemento se genere */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /* Esto hará que la línea se extienda a lo largo de toda la tarjeta */
        height: 4px; /* Ajusta el grosor de la línea aquí */
        background-color: #F6C344; /* Ajusta el color de la línea aquí */
    }

</style>
{%endblock link%}

{% block dashboard %}
<h1>Citas</h1>

<a class="btn btn-sm  " href="javascript:history.back()">
    <button class="btn-custom">
        <i class="fas fa-chevron-left"></i>
    </button>  
</a>

<a class="btn btn-success" href="{% url 'CrearCita' %}">
    <i class="fas fa-plus-circle"></i>
    <span class="d-none d-md-inline">Nueva Cita</span>
</a>

    
{% endblock dashboard %}

{% block content %}
<div class = "conteiner-lg">
    <div class = "row">
        <div class="card col-lg-5" style="border: 2px solid #ccc; border-radius: 15px; overflow-y: auto; max-height: 800px; margin-right: 10px;">
            
            {%for cita in citas%}
            
            <div class="card card1" style="border: 2px solid #ccc; border-radius: 5px; margin-top: 10px; margin-bottom: 5px; ">
                <div class="card-header">
                    <i class="fa-solid fa-calendar-days" style="color: #239db9;"></i> <strong>Cita del {{ cita.start|date:"d/m/Y "}}</strong>
                </div>
                <div class="card-body">
                    <h1 class="card-title">Paciente: {{ cita.paciente.first_name}} {{cita.paciente.last_name}} {{cita.paciente.apellido_materno}}</h1>
                    <p class="card-text"><strong>Fecha y hora:</strong> {{ cita.start|date:"Y-m-d h:i a"}}</p>
                    <p class="card-text">Dentista: {{ cita.dentista }}</p> <!--Añadir mas detalles del dentista, especializacion, clinica, etc-->

                    <div  class="container d-flex justify-content-end">
                        <a href="#" class="bi bi-check-circle-fill text-success" style="padding-left: 10px; text-decoration: none; font-size: 20px;"></a>

                        <a href="{% url 'EditarCita' pk=cita.id %}" class="text-primary" style="padding-left: 10px; text-decoration: none; font-size: 20px;">
                            <i class="fas fa-edit"></i>
                        </a>

                        <a href="#" class="btn btn-sm btn-icon1 ml-auto" style="margin-left: 10px; font-size: 15px;">
                            <i class="fas fa-trash"></i> 
                        </a>
                    </div>

                    
                </div>
            </div>
            {%endfor%}
           
        </div>     
                
           
        <div class="col-lg-6" style="border: 2px solid #ccc; padding: 10px; border-radius: 15px; margin-left: 10px; margin-bottom: 10px; max-height: 900px;">
            <div id="calendar" style="width: 100%; height: 100%;"></div>
        </div>
        
    </div>
    
</div>

{% endblock content %}
    
{% block script%}
<script src="{% static 'fullcalendar/lib/main.js' %}"></script>
<script src="{% static 'fullcalendar/lib/main.js' %}"></script>
<script src="{% static 'fullcalendar/lib/locales-all.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!--FullCalendar-->
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            var calendarUI = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarUI, {
                themeSystem: 'bootstrap5',
                headerToolbar:{
                    left: 'prev,next today',
                    center:'title',                    
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                               
                events:{{ events_json|safe }},
                timeFormat: 'H(:mm)' 

            });
            calendar.render();
            calendar.setOption('locale','es');
        });
    </script>
    <script>
        $(document).ready(function() {
            $(".evento-fila").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{%endblock script%}