{% extends "general/basemodal.html" %}
{% load static %}
{% block titulo %}
Editar Cita 
{% endblock titulo %}

{% block link %}
{% endblock link %}

{%block preloader%}
{% endblock %}

{% block contenido %}
{% if form.non_field_errors %}
    <script>
        Swal.fire({
            title: 'Error!',
            text: '{{ form.non_field_errors|striptags }}',
            icon: 'error',
            confirmButtonText: 'Ok'
        });
    </script>
{% endif %}

{% for field in form %}
    {% if field.errors %}
        <script>
            Swal.fire({
                title: 'Error en {{ field.label }}!',
                text: '{{ field.errors|striptags }}',
                icon: 'error',
                confirmButtonText: 'Ok'
            });
        </script>
    {% endif %}
{% endfor %}


<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-circle-plus fa-2x" style="color: #239db9;"></i> <strong>Cita de Paciente {{ cita.paciente.first_name}} </strong>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" action="{% url 'EditarCita' pk=cita.id %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-custom2">Guardar</button>
                    <button class="btn btn-danger" onclick= "cerrar_modal()">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>  
{% endblock contenido %}
{%block extra_js%}
{%endblock%}




