{% extends "general/base.html" %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href=" {% static 'css/detail.css' %}?v22">
{% endblock link %}


{% block dashboard %}


<a class="btn btn-sm  " href="{% url "DentistaListView" %}">      
      <button class="btn-custom">
        <i class="fas fa-chevron-left"></i>
      </button>  
</a>
{% endblock dashboard %}
{% block content %}


<div class="container mt-4">
    <div class="card card1">
        <div class="card-header">
            <i class="fas fa-info fa-2x" style="color: #239db9;"></i> <strong> Detalles del dentista</strong>
        </div>
        <div class="card-body">
            <div class="profile-image">
                <!-- Placeholder para la imagen de perfil -->
                   <!-- Placeholder para la imagen de perfil -->
                   {% if dentista.foto %}
                   <img src="{{ dentista.foto.url }}"  alt="Foto del dentista">
               {% elif dentista.sexo == "Hombre"%}
                   <img src="{% static 'img/users/user_male.png' %}" alt="Foto del dentista">
               {% elif dentista.sexo == "Mujer" %}
                   <img src="{% static 'img/users/user_female.png' %}"  alt="Foto del dentista">
               {% else %}
                   <img src="{% static 'img/usuariono.png' %}"  alt="Foto del dentista">

               {% endif %} 
                        </div>
            <div class="profile-details">
                <h3>{{dentista.get_full_name|title}}</h3>
                <p><i class="fas fa-phone"></i> +52 {{dentista.celular}}</p>
                <p><i class="fas fa-envelope"></i> {{dentista.email}}</p>
            </div>
            <div class="action-buttons">
                <button class="action-button edit">
                    <i class="fas fa-edit"></i> Editar
                </button>
                {% if es_administrador or es_superusuario or es_responsable %}
                <form action="{% url 'update_user_status_dentista' dentista.pk %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="is_active" value="{{ dentista.is_active|yesno:'False,True' }}">
                  <button type="submit" class="action-button {{ dentista.is_active|yesno:'delete,active' }}">
                    <i class="fas {{ dentista.is_active|yesno:'fa-toggle-off,fa-toggle-on' }}"></i> 
                    <span class="d-none d-md-inline">{{ dentista.is_active|yesno:'Desactivar,Activar' }}</span>
                  </button>
                </form>
                {% else %}
                <span class="badge {{ dentista.is_active|yesno:'badge-success,badge-danger' }}">
                  {{ dentista.is_active|yesno:'Activo,Inactivo' }}
                </span>
                {% endif %}



                
            </div>
        


        </div>
    </div>
</div>


<!-- Contenedor principal -->
<div class="container mt-2">
    <div class="card card1">
        <!-- ... Encabezado y cuerpo de la tarjeta existente ... -->

        <!-- Nueva sección de Información Adicional -->
        <div class="additional-info">
            <!-- Columna izquierda -->
            <div class="info-column">
                <div class="info-block">
                    <h3><i class="fas fa-envelope"></i> Email:</h3>
                    <p><strong>{{dentista.email}}</strong></p>
                </div>
                <div class="info-block">
                    <h3><i class="fas fa-home"></i> Dirección:</h3>
                    <p>
                        <strong>{{dentista.direccion}}</strong>
                        <a href="https://www.google.com/maps/search/?api=1&amp;query={{dentista.direccion|urlencode:'+'}}" target="_blank">
                            <i class="fas fa-map-marker-alt"></i> Ir a mapa
                        </a>
                    </p>
                </div>
                <!-- Agrega más bloques de información según sea necesario -->
            </div>

            <!-- Columna derecha -->
            <div class="info-column">
                <div class="info-block">
                    <h3><i class="fas fa-user"></i> Genero:</h3>
                    <p><strong>{{dentista.sexo}}</strong></p>
                </div>
                <div class="info-block">
                    <h3><i class="fas fa-birthday-cake"></i> Fecha de nacimiento:</h3>
                    <p><strong>{{dentista.fecha_nacimiento}}</strong></p>
                </div>
                <!-- Agrega más bloques de información según sea necesario -->
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="card card1 card2 collapsed-card">
        <div class="card-header">
            <i class="fas fa-tooth" style="color: #239db9;"></i> <strong>Especialidades</strong>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <!-- Contenido del Historial médico -->
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="card card1 card2 collapsed-card">
        <div class="card-header">
            <i class="fas fa-university" style="color: #239db9;"></i> <strong>Educación y certificaciones</strong>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <!-- Contenido del Plan de tratamiento -->
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="card card1 card2 collapsed-card">
        <div class="card-header">
            <i class="fas fa-briefcase" style="color: #239db9;"></i> <strong>Experiencia profesional</strong>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <!-- Contenido de Gráficas dentales -->
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="card card1 card2 collapsed-card">
        <div class="card-header">
            <i class="fas fa-language" style="color: #239db9;"></i> <strong>Idiomas hablados</strong>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <a data-toggle="modal" data-target="#modalAgregarIdioma">
                <i class="fas fa-plus-circle"></i>
                <span class="d-none d-md-inline">Añadir Idioma</span> 
            </a>

            <ul>
                {%for idioma in medico %}
                <li> {{idioma.idioma}} </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="card card1 card2 collapsed-card">
        <div class="card-header">
            <i class="fas fa-user-tie" style="color: #239db9;"></i> <strong>Asociaciones profesionales</strong>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <!-- Contenido de Fotos -->
        </div>
    </div>
</div>



<!-- Modal de Idiomas -->
<div class="modal fade" id="modalAgregarIdioma" tabindex="-1" role="dialog" aria-labelledby="modalAgregarIdiomaTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAgregarIdiomaLongTitle">Agregar idioma al dentista</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'agregar_idioma' user_id %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <select name="idiomas" multiple="multiple" class="form-control select2">
                        {%for idiomas in idioma %}
                            {{idiomas.idioma}}
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}