{% extends "general/base.html" %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href=" {% static 'css/detail.css' %}?v2">
{% endblock link %}


{% block dashboard %}


<a class="btn btn-sm  " href="{% url "ver_pacientes" %}">      
      <button class="btn-custom">
        <i class="fas fa-chevron-left"></i>
      </button>  
</a>
{% endblock dashboard %}
{% block content %}


<div class="container mt-4">
    <div class="card card1">
        <div class="card-header">
            <i class="fas fa-info fa-2x" style="color: #239db9;"></i> <strong> Detalles del Paciente</strong>
        </div>
        <div class="card-body">
            <div class="profile-image">
                <!-- Placeholder para la imagen de perfil -->
                   <!-- Placeholder para la imagen de perfil -->
                   {% if paciente.foto %}
                   <img src="{{ paciente.foto.url }}"  alt="Foto del paciente">
               {% elif paciente.sexo == "Hombre"%}
                   <img src="{% static 'img/users/user_male.png' %}" alt="Foto del paciente">
               {% elif paciente.sexo == "Mujer" %}
                   <img src="{% static 'img/users/user_female.png' %}"  alt="Foto del paciente">
               {% else %}
                   <img src="{% static 'img/usuariono.png' %}"  alt="Foto del paciente">

               {% endif %} 
                        </div>
            <div class="profile-details">
                <h3>{{paciente.get_full_name}}</h3>
                <p><i class="fas fa-phone"></i> +52 {{paciente.celular}}</p>
                <p><i class="fas fa-envelope"></i> {{paciente.email}}</p>
            </div>
            <div class="action-buttons">
                <button class="action-button edit">
                    <i class="fas fa-edit"></i> Editar
                </button>
                <button class="action-button delete">
                    <i class="fas fa-trash-alt"></i> Desactivar
                </button>
            </div>
        


        </div>
    </div>
</div>


<!-- Contenedor principal -->
<div class="container mt-2">
    <div class="card card1">
        <!-- ... Encabezado y cuerpo de la tarjeta existente ... -->

        <!-- Nueva sección de Información Adicional -->
        <div class="additional-info">
            <!-- Columna izquierda -->
            <div class="info-column">
                <div class="info-block">
                    <h3><i class="fas fa-envelope"></i> Email:</h3>
                    <p>ivansz123@gmail.com</p>
                </div>
                <div class="info-block">
                    <h3><i class="fas fa-home"></i> Address:</h3>
                    <p>jesus carranza apizaco</p>
                </div>
                <!-- Agrega más bloques de información según sea necesario -->
            </div>

            <!-- Columna derecha -->
            <div class="info-column">
                <div class="info-block">
                    <h3><i class="fas fa-user"></i> Gender:</h3>
                    <p>Male</p>
                </div>
                <div class="info-block">
                    <h3><i class="fas fa-birthday-cake"></i> Birthdate:</h3>
                    <p>Jan 09, 1998</p>
                </div>
                <!-- Agrega más bloques de información según sea necesario -->
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="card card1 card2 collapsed-card">
        <div class="card-header">
            <i class="fas fa-notes-medical" style="color: #239db9;"></i> <strong>Historial médico</strong>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <!-- Contenido del Historial médico -->
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="card card1 card2 collapsed-card">
        <div class="card-header">
            <i class="fas fa-tooth" style="color: #239db9;"></i> <strong>Plan de tratamiento</strong>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <!-- Contenido del Plan de tratamiento -->
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="card card1 card2 collapsed-card">
        <div class="card-header">
            <i class="fas fa-chart-bar" style="color: #239db9;"></i> <strong>Gráficas dentales</strong>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <!-- Contenido de Gráficas dentales -->
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="card card1 card2 collapsed-card">
        <div class="card-header">
            <i class="fas fa-pencil-alt" style="color: #239db9;"></i> <strong>Notas dentales</strong>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <!-- Contenido de Notas dentales -->
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="card card1 card2 collapsed-card">
        <div class="card-header">
            <i class="fas fa-images" style="color: #239db9;"></i> <strong>Fotos</strong>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <!-- Contenido de Fotos -->
        </div>
    </div>
</div>


{% endblock content %}