{% load static %}
<!DOCTYPE html>
<html lang="es">
    
  {%load pwa%}
  {% progressive_web_app_meta %}
  {% load django_react_components %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dental Smile</title>

  <!-- 
    - favicon
  -->
  <script src="https://kit.fontawesome.com/78350df3d2.js" crossorigin="anonymous"></script>

  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  
  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{% static "homepage/css/style.css" %}?v1.128w33">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&family=Roboto:wght@400;500;600&display=swap"
    rel="stylesheet">
</head>

<body id="top">

  <header class="header">
    <div class="header-top">
      <div class="container">
        <ul class="contact-list">
          <li class="contact-item">
            <ion-icon name="mail-outline"></ion-icon>

            <a href="mailto:info@example.com" class="contact-link">info@example.com</a>
          </li>

          <li class="contact-item">
            <ion-icon name="call-outline"></ion-icon>

            <a href="tel:+917052101786" class="contact-link">+91-7052-101-786</a>
          </li>

        </ul>
        <ul class="social-list">
          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>

        </ul>

      </div>
    </div>


    <div class="header-bottom" data-header>
      <div class="container">

        <a href="#" class="logo">Center.</a>

        <style>
          @media (max-width: 991px) {
            #iniciarsesion {
              display: block !important; /* Esto asegura que la regla tenga prioridad para pantallas pequeñas */
            }
          }
          
          @media (min-width: 992px) {
            #iniciarsesion {
              display: none !important; /* Esto asegura que la regla tenga prioridad para pantallas grandes */
            }
          }

        </style>
        
        <nav class="navbar container" data-navbar>
          <ul class="navbar-list">

            <li>
              <a href="#home" class="navbar-link" data-nav-link>Menú</a>
            </li>

            <li>
              <a href="#service" class="navbar-link" data-nav-link>Servicio</a>
            </li>

            <li>
              <a href="#about" class="navbar-link" data-nav-link>Acerca de nosotros</a>
            </li>

            <li>
              <a href="#blog" class="navbar-link" data-nav-link>Blog</a>
            </li>

            <li>
              <a href="#" class="navbar-link" data-nav-link>Contactos</a>
            </li>

            <li>
              <a href="{% url "account_login" %}" id="iniciarsesion" class="navbar-link" data-nav-link>iniciar sesion</a>
            </li>

          

          </ul>
        </nav>

        <a href="{% url 'account_login' %}" class="btn login-btn-large-screen btn-primary-custom">Inicia Sesión</a>

        <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler>
          <ion-icon name="menu-sharp" aria-hidden="true" class="menu-icon"></ion-icon>
          <ion-icon name="close-sharp" aria-hidden="true" class="close-icon"></ion-icon>
        </button>
      </div>
    </div>

  </header> 
 <!-- 
    - #HEADER
  -->
  <main>
    <article>
      <!-- 
        - #Form Agenda
      -->
      <section class="section" id="home" aria-label="hero">

        <div class="container"> 
          <div class="row">            
            <div class="col col-lg-12">

              <form id="form-dividido" class="needs-validation" novalidate>
                <div id="section-1" class="form-section">
                  <label for="motivo" class="form-label">Motivo de cita:</label>
                  {% comment %} Seccion 1 {% endcomment %}
                  <select class="form-select form-select-lg mb-3" id="motivo" name="motivo" required>
                    <option value="" disabled selected>Selecciona un motivo</option>
                    <option value="revision_diagnostico">Revisión y diagnóstico</option>
                    <option value="limpieza">Limpieza</option>
                    <option value="ortodoncia">Ortodoncia</option>
                    <option value="blanqueamiento">Blanqueamiento</option>
                    <option value="carillas">Carillas</option>
                    <option value="implantes">Implantes</option>
                    <option value="coronas">Coronas</option>
                    <option value="extracciones">Extracciones</option>
                    <!-- Agrega opciones de la tabla -->
                  </select>
                  <div class="invalid-feedback">Por favor selecciona un motivo.</div>
                  <button type="button" class="btn btn-primary mt-3" onclick="siguienteSeccion(1)">Siguiente</button>
                </div>
                {% comment %} Seccion 2 {% endcomment %}
                <div id="section-2" class="form-section" style="display: none;">
                  <label for="municipio" class="form-label">Municipio:</label>
                  <select id="municipio" name="municipio" class="form-select form-select-lg mb-3" required>
                      <option value="" disabled selected>Selecciona un municipio</option>
              
                      {% for municipio in municipios %}
                      <option value="{{ municipio.id }}" data-municipio-id="{{ municipio.id }}">{{ municipio.nombre }}</option>
                      {% endfor %}
              
                  </select>
                  <div class="invalid-feedback">Por favor selecciona un municipio.</div>
                  <button type="button" id="filtrar-clinicas-btn" class="btn btn-primary mt-3 ms-2" onclick="siguienteSeccion(2)">Siguiente</button> 
                  <button type="button" class="btn btn-light mt-3 " onclick="anteriorSeccion(2)">Anterior</button>
                </div>
              
                {% comment %} Seccion 3 {% endcomment %}
                <div id="section-3" class="form-section" style="display: none;">
                  <label for="clinica" class="form-label">Clinica: </label>
                  <select id="clinica" name="clinica" class="form-select form-select-lg mb-3" required>
                    <option value="" disabled selected>Selecciona una clinica cercana a ti</option>

                    {% for clinca in clinicas %}
                      <option value="{{ clinca.id }}" data-clinica-id="{{ clinica.id }}">{{ clinca.nombre }}</option>
                    {% endfor %}

                  </select>
                  <div class="invalid-feedback">Por favor selecciona una clinica.</div>
                  <button type="button" id="mostrar-dentistas-btn" class="btn btn-primary mt-3 ms-2" onclick="siguienteSeccion(2)">Siguiente</button>                  
                  <button type="button" class="btn btn-ligh mt-3" onclick="anteriorSeccion(2)">Anterior</button>
                </div>
                {% comment %} Seccion 4 {% endcomment %}
                <div id="section-4" class="form-section" style="display: none;">
                  <label for="dentistas" class="form-label">Dentista</label>
                  
                  <select id="dentista" name="dentista" class="form-select form-select-lg mb-3" required>
                    <option value="" disabled selected>Selecciona un Dentista</option>
    

                    {% for dentista in dentistas %}
                      <option value="{{ dentista.id }}">{{ dentista.get_full_name }}</option>
                    {% endfor %}


                  </select>
                  <div class="invalid-feedback">Por favor selecciona un Dentista.</div>
                  <button type="button" class="btn btn-primary mt-3 ms-2" onclick="siguienteSeccion(2)">Siguiente</button>                  
                  <button type="button" class="btn btn-ligh mt-3" onclick="anteriorSeccion(2)">Anterior</button>
                </div>

                <!-- Seccion 5: Seleccione fecha y horario -->
                <div id="section-5" class="form-section" style="display: none;">
                  <label for="fecha" class="form-label">Seleccione fecha:</label>

                  <input type="text" class="ms-input has-left-icon w-input" data-input="datepicker" autocomplete="off" maxlength="256" name="Date-2" data-name="Date 2" placeholder="01/01/2023" id="datepicker" required="">
                  
                  <label for="horario" class="form-label">Seleccione horario:</label>
                  <select id="horario" name="horario" class="form-select form-select-lg mb-3" required>
                    <option value="" disabled selected>Selecciona un horario</option>
                    <!-- Agrega opciones de horario -->
                  </select>
                  <div class="invalid-feedback">Por favor selecciona fecha y horario.</div>
                  <button type="button" class="btn btn-primary mt-3" onclick="anteriorSeccion(4)">Anterior</button>
                  <!-- Botón de enviar formulario -->
                  <button type="submit" class="btn btn-primary mt-3">Enviar Formulario</button>

                </div>            

              </form> 

            </div>
            <div class="col" style="margin-top: 15px">

              <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" style="width: 0%; height: 25px;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>            
              </div>
              <span id="progress-label" class="progress-label">Paso 1 de 5</span>

            </div>
          </div> 
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
        
        <script>
          $(document).ready(function() {
            $('#filtrar-clinicas-btn').click(function() {
                var municipioId = $('#municipio').val();
                if (municipioId) {
                    $.ajax({
                        type: 'GET',
                        url: '{% url 'filtrar_clinicas_por_municipio' %}',
                        data: {'municipio_id': municipioId},
                        success: function(data) {
                            $('#clinica').empty();
                            $('#clinica').append($('<option>', {
                                value: '',
                                text: 'Selecciona una Clínica',
                                disabled: true,
                                selected: true
                            }));
                            $.each(data.clinicas, function(index, clinica) {
                                $('#clinica').append($('<option>', {
                                    value: clinica.id,
                                    text: clinica.nombre
                                }));
                            });
                            $('#clinicas-container').show();
                         
                        }
                    });
                } else {
                    alert('Por favor selecciona un municipio.');
                }
            });
          });
        </script>
        <script>
          $(document).ready(function() {
            $('#mostrar-dentistas-btn').click(function() {
                var clinicaId = $('#clinica').val();
                if (clinicaId) {
                    $.ajax({
                        type: 'GET',
                        url: '{% url 'filtrar_dentistas' %}',
                        data: {'clinica_id': clinicaId},
                        success: function(data) {
                            // Limpiar el select antes de agregar nuevas opciones
                            $('#dentista').empty();
                            // Agregar la opción por defecto al inicio del select
                            $('#dentista').append($('<option>', {
                                value: '',
                                text: 'Selecciona un Dentista',
                                disabled: true,
                                selected: true
                            
                            }));
                            // Iterar sobre los datos devueltos y agregar opciones al select
                            $.each(data.dentistas, function(index, dentista) {
                                $('#dentista').append($('<option>', {
                                    value: dentista.id,
                                    text: dentista.nombre
                                }));
                            });
                            $('#dentistas-container').show();
                        }
                    });
                }
            });
        });
        </script>

        <script>
          let currentSection = 1;
          const formSections = document.querySelectorAll('.form-section');
          const progressBar = document.querySelector('.progress-bar');
          const progressLabel = document.getElementById('progress-label');

          function mostrarSeccion(numeroSeccion) {
            formSections.forEach(section => {
              section.style.display = 'none';
            });
            document.getElementById(`section-${numeroSeccion}`).style.display = 'block';
            currentSection = numeroSeccion;
            actualizarProgreso();
          }

          function siguienteSeccion() {
            const nextSection = currentSection + 1;
            if (nextSection <= formSections.length) {
              mostrarSeccion(nextSection);
            }
          }

          function anteriorSeccion() {
            const previousSection = currentSection - 1;
            if (previousSection >= 1) {
              mostrarSeccion(previousSection);
            }
          }

          function actualizarProgreso() {
            const progreso = (currentSection - 1) / (formSections.length - 1) * 100;
            progressBar.style.width = `${progreso}%`;
            progressBar.setAttribute('aria-valuenow', progreso);
            progressLabel.textContent = `Paso ${currentSection} de ${formSections.length}`;
          }

          mostrarSeccion(currentSection);
        </script>

       
      </section>





      <!-- 
        - #SERVICE
      -->

      <section class="section service" id="service" aria-label="service">
        <div class="container">

          <p class="section-subtitle text-center">Nuestros Servicios</p>

          <h2 class="h2 section-title text-center">¿Qué ofrecemos?</h2>

          <ul class="service-list">

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="{% static "/homepage/images/limpieza.png" %}" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Limpiezas y profilaxis</h3>

                  <p class="card-text">
                    Limpiezas dentales profesionales para eliminar la placa y el sarro.
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="{% static "/homepage/images/carie1.png" %}" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Tratamientos de caries</h3>

                  <p class="card-text">
                    Rellenaso de caries con materiales restauradores.
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="{% static "/homepage/images/canal.png" %}" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Tratamientos de canal</h3>

                  <p class="card-text">
                    Tratamiento de infecciones o inflamaciones en el tejido pulpar de los dientes.
                  </p>
                </div>

              </div>
            </li>

            <li class="service-banner">
              <figure>
                <img src="{% static "/homepage/images/dientes.png" %}" width="409" height="467" loading="lazy"
                  alt="service banner" class="w-100">
              </figure>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="{% static "/homepage/images/extracciones.png" %}" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Extracciones dentales</h3>

                  <p class="card-text">
                    Extracción de dientes dañados.
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="{% static "/homepage/images/protesis.png" %}" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Colocación de prótesis dentales</h3>

                  <p class="card-text">
                    Colocación de prótesis dentales como coronas, puentes y dentaduras
                  </p>
                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="{% static "/homepage/images/ortodoncia.png" %}" width="100" height="100" loading="lazy"
                    alt="service icon" class="w-100">
                </div>

                <div>
                  <h3 class="h3 card-title">Tratamientos de ortodoncia</h3>

                  <p class="card-text">
                    Alineación de los dientes, utilizando dispositivos como brackets.
                  </p>
                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #ABOUT
      -->

      <section class="section about" id="about" aria-label="about">
        <div class="container">

          <figure class="about-banner">
            <img src="{% static "/homepage/images/dentistas.png" %}" width="470" height="538" loading="lazy" alt="about banner"
              class="w-100">
          </figure>

          <div class="about-content">

            <p class="section-subtitle">¿Quiénes somos?</p>

            <h2 class="h2 section-title">Promovemos su bienestar bucal</h2>

            <p class="section-text section-text-1">
              Con años de experiencia y pasión por nuestro trabajo, nos dedicamos a proporcionar tratamientos dentales de alta calidad en un ambiente cálido y acogedor. Nuestro objetivo es no solo cuidar de la salud dental de nuestros pacientes, sino también educarlos y motivarlos para que mantengan una sonrisa saludable de por vida.
            </p>

            <p class="section-text">
              Aliquam erat volutpat. Aliquam enim massa, sagittis blandit ex mattis, ultricies posuere sapien. Morbi a
              dignissim enim.
              Fusce elementum, augue in elementum porta, sapien nunc volutpat ex, a accumsan nunc lectus eu lectus.
            </p>

            <a href="#" class="btn">Leer más</a>

          </div>

        </div>
      </section>





      <!-- 
        - #DOCTOR
      -->

      <section class="section doctor" aria-label="doctor">
        <div class="container">

          <p class="section-subtitle text-center">Nuestros Dentistas</p>

          <h2 class="h2 section-title text-center">Dentistas Expertos</h2>

          <ul class="has-scrollbar">

            <li class="scrollbar-item">
              <div class="doctor-card">

                <div class="card-banner img-holder" style="--width: 460; --height: 500;">
                  <img src="{% static "/homepage/images/doctor1.png" %}" width="460" height="500" loading="lazy" alt="Howard Holmes"
                    class="img-cover">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Howard Holmes</a>
                </h3>

                <p class="card-subtitle">Dentista</p>

                <ul class="card-social-list">

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                  </li>

                </ul>

              </div>
            </li>

            <li class="scrollbar-item">
              <div class="doctor-card">

                <div class="card-banner img-holder" style="--width: 460; --height: 500;">
                  <img src="{% static "/homepage/images/doctor2.png" %}" width="460" height="500" loading="lazy" alt="Ella Thompson"
                    class="img-cover">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Ella Thompson</a>
                </h3>

                <p class="card-subtitle">Dentista</p>

                <ul class="card-social-list">

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                  </li>

                </ul>

              </div>
            </li>

            <li class="scrollbar-item">
              <div class="doctor-card">

                <div class="card-banner img-holder" style="--width: 460; --height: 500;">
                  <img src="{% static "/homepage/images/doctor3.png" %}" width="460" height="500" loading="lazy" alt="Vincent Cooper"
                    class="img-cover">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Vincent Cooper</a>
                </h3>

                <p class="card-subtitle">Dentista</p>

                <ul class="card-social-list">

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                  </li>

                </ul>

              </div>
            </li>

            <li class="scrollbar-item">
              <div class="doctor-card">

                <div class="card-banner img-holder" style="--width: 460; --height: 500;">
                  <img src="{% static "/homepage/images/doctor4.png" %}" width="460" height="500" loading="lazy" alt="Danielle Bryant"
                    class="img-cover">
                </div>

                <h3 class="h3">
                  <a href="#" class="card-title">Danielle Bryant</a>
                </h3>

                <p class="card-subtitle">Dentista</p>

                <ul class="card-social-list">

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="card-social-link">
                      <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                  </li>

                </ul>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #CTA
      -->

      <section class="section cta" aria-label="cta">
        <div class="container">

          <figure class="cta-banner">
            <img src="{% static "/homepage/images/dentistafeliz1.png" %}" width="1056" height="1076" loading="lazy" alt="cta banner"
              class="w-100">
          </figure>

          <div class="cta-content">

            <p class="section-subtitle">Reservar cita con Nosotros</p>

            <h2 class="h2 section-title">Registrate y hazlo en minutos!</h2>

            <a href="#" class="btn">Registrarse</a>

          </div>

        </div>
      </section>





      <!-- 
        - #BLOG
      -->

      <section class="section blog" id="blog" aria-label="blog">
        <div class="container">

          <p class="section-subtitle text-center">Nuestro Blog</p>

          <h2 class="h2 section-title text-center">Último blog y noticias </h2>

          <ul class="blog-list">

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 1180; --height: 800;">
                  <img src="{% static "/homepage/images/blog4.jpg" %}" width="1180" height="800" loading="lazy"
                    alt="Cras accumsan nulla nec lacus ultricies placerat." class="img-cover">

                  <div class="card-badge">
                    <ion-icon name="calendar-outline"></ion-icon>

                    <time class="time" datetime="2022-03-24">24-Febrero-2024</time>
                  </div>
                </figure>

                <div class="card-content">

                  <h3 class="h3">
                    <a href="#" class="card-title">Cuidado dental en casa</a>
                  </h3>

                  <p class="card-text">
                    Consejos y técnicas para cepillarse, usar hilo dental y enjuague bucal de manera efectiva.
                  </p>

                  <a href="#" class="card-link">Leer más</a>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 1180; --height: 800;">
                  <img src="{% static "/homepage/images/blog5.jpg" %}" width="1180" height="800" loading="lazy"
                    alt="Dras accumsan nulla nec lacus ultricies placerat." class="img-cover">

                  <div class="card-badge">
                    <ion-icon name="calendar-outline"></ion-icon>

                    <time class="time" datetime="2022-03-24">26-Febrero-2024</time>
                  </div>
                </figure>

                <div class="card-content">

                  <h3 class="h3">
                    <a href="#" class="card-title">Prevención de enfermedades dentales</a>
                  </h3>

                  <p class="card-text">
                    Información sobre cómo prevenir la caries dental, la enfermedad de las encías y otras afecciones bucales.
                  </p>

                  <a href="#" class="card-link">Leer más</a>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <figure class="card-banner img-holder" style="--width: 1180; --height: 800;">
                  <img src="{% static "/homepage/images/blog6.jpg" %}" width="1180" height="800" loading="lazy"
                    alt="Seas accumsan nulla nec lacus ultricies placerat." class="img-cover">

                  <div class="card-badge">
                    <ion-icon name="calendar-outline"></ion-icon>

                    <time class="time" datetime="2022-03-24">01-Marzo-2024</time>
                  </div>
                </figure>

                <div class="card-content">

                  <h3 class="h3">
                    <a href="#" class="card-title">Tecnología dental</a>
                  </h3>

                  <p class="card-text">
                    Odontología digital, los implantes dentales y la ortodoncia invisible.
                  </p>

                  <a href="#" class="card-link">Leer más</a>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

    </article>
  </main> 

  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="footer-top section">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">Dental Center.</a>

          <p class="footer-text">
            Los visitantes pueden encontrar fácilmente información sobre el consultorio, incluyendo horarios de atención y ubicación. Se proporcionan testimonios de pacientes satisfechos para respaldar la calidad del servicio. 

          </p>

          <div class="schedule">
            <div class="schedule-icon">
              <ion-icon name="time-outline"></ion-icon>
            </div>

            <span class="span">
              Lunes - Sabado<br>
              9:00am - 10:00Pm
            </span>
          </div>

        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Otros Links</p>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="add-outline"></ion-icon>

              <span class="span">Menú</span>
            </a>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="add-outline"></ion-icon>

              <span class="span">Sobre nosotros</span>
            </a>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="add-outline"></ion-icon>

              <span class="span">Servicios</span>
            </a>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="add-outline"></ion-icon>

              <span class="span">Nuestro equipo</span>
            </a>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="add-outline"></ion-icon>

              <span class="span">Blog</span>
            </a>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="add-outline"></ion-icon>

              <span class="span">Ultimos Blogs</span>
            </a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Otros Servicios</p>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="add-outline"></ion-icon>

              <span class="span">Endodoncia</span>
            </a>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="add-outline"></ion-icon>

              <span class="span">Alineación de dientes</span>
            </a>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="add-outline"></ion-icon>

              <span class="span">Cosmetic Teeth</span>
            </a>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="add-outline"></ion-icon>

              <span class="span">Oral Hygiene</span>
            </a>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="add-outline"></ion-icon>

              <span class="span">Live Advisory</span>
            </a>
          </li>

          <li>
            <a href="#" class="footer-link">
              <ion-icon name="add-outline"></ion-icon>

              <span class="span">Cavity Inspection</span>
            </a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Contactanos</p>
          </li>

          <li class="footer-item">
            <div class="item-icon">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <address class="item-text">
              1247/Plot No. 39, 15th Phase,<br>
              LHB Colony, Kanpur
            </address>
          </li>

          <li class="footer-item">
            <div class="item-icon">
              <ion-icon name="call-outline"></ion-icon>
            </div>

            <a href="tel:+917052101786" class="footer-link">+91-7052-101-786</a>
          </li>

          <li class="footer-item">
            <div class="item-icon">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <a href="mailto:help@example.com" class="footer-link">help@example.com</a>
          </li>

        </ul>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2022 All Rights Reserved by dentalcenter.
        </p>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

        </ul>

      </div>
    </div>

  </footer>





  <!-- 
    - #BACK TO TOP
  -->


  <a href="{% url "homePageViewChildren" %}" class="smile-top-btn" aria-label="back to top" data-back-smile-top-btn>
    <i class="fas fa-smile" aria-hidden="true"></i>
  </a>


<br>
  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="caret-up" aria-hidden="true"></ion-icon>
  </a>




  
  <!-- 
    - custom js link
  -->
  <script src="{% static "/homepage/js/script.js" %}?v1.1" defer></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>

    