{% extends 'general/base.html' %}
{% load static %}   

{% block titulo %}
Editar Clínica
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static "plugins/select2/css/select2.css" %}?v1.1">
<link rel="stylesheet" href="{% static "css/image-upload.css" %}?v1.1">
{% endblock link %}

{% block dashboard %}
<a class="btn btn-sm  " href="{% url "home" %}">

      <button class="btn-custom">
        <i class="fas fa-chevron-left"></i>
      </button>  
</a>
{% endblock dashboard %}

{% block content%}

{% load crispy_forms_tags %}

<div class="card">
    <div class="card-header">
        <i class="fas fa-circle-plus " style="color: #239db9;"></i> <strong>Editar clinica</strong>
    </div>
    <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col md-5">
                    <div class="row">                           
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 centered-container">
                                    <div class="image-upload-container mt-5">

                                        {% if clinica.logo %}
                                        <script>
                                            document.addEventListener('DOMContentLoaded', function() {
                                                document.getElementById('photo').src = "{{ clinica.logo.url }}";
                                                document.getElementById('photo').style.display = 'block';

                                                var imageIcon = document.querySelector('.image-icon');
                                                if (imageIcon) {
                                                    imageIcon.style.display = 'none';
                                                }
                                            });
                                        </script>
                                        
                                        {% endif %}





                                        <i class="fas fa-user image-icon"></i>
                                        <img id="photo" src="" alt="La foto aparecerá aquí..." class="image-preview">
                                        <div class="image-upload-overlay">


                                            <button type="button" id="deletePhoto" class="btn btn-danger">
                                                <i class="fas fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 mt-2">
                                    {{ form.logo|as_crispy_field }}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                {{ form.nombre|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div >
                                {{ form.direccion|as_crispy_field }}
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div >
                                {{ form.telefono|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div >
                                {{form.correo_electronico|as_crispy_field}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div >
                                {{ form.responsables|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div >
                                {{ form.hora_inicio|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div >
                                {{ form.hora_fin|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div>
                                {{form.equipamiento|as_crispy_field}}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                     
                    </div>

                    <div class="row">
                       <label>  Días laborables </label>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div style="margin: 0 20px;">
                                {{form.lunes|as_crispy_field}}
                                
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div style="margin: 0 20px;">
                                {{form.martes|as_crispy_field}}
                                
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div style="margin: 0 20px;">
                                {{form.miercoles|as_crispy_field}}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div style="margin: 0 20px;">
                                {{form.jueves|as_crispy_field}}
                                
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div style="margin: 0 20px;">
                                {{form.viernes|as_crispy_field}}
                                
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div style="margin: 0 20px;">
                                {{form.sabado|as_crispy_field}}
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div class="row ">
                            <button class="btn btn-primary btn-lg" type="submit" style="width: 108px; margin-top: 5px; margin-right: 5px;">Guardar</button>
                            <a class="btn btn-danger btn-lg" href="{% url 'clinicas' %}" style="width: 108px; margin-top: 5px;">Cancelar</a>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block script1 %}
<script src="{% static "plugins/jquery/jquery.min.js" %}"></script>
<script src="{% static "plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

<script src="{% static "plugins/select2/js/select2.full.min.js" %}"></script>

<script src="{% static "dist/js/adminlte.min.js" %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>


<script>
    $(function () {
        $('.select2').select2()
      });
    </script>

    <script>
        $(document).ready(function() {
            $('.select2').select2({
                placeholder: "Selecciona un reponsable", // Añade el texto del placeholder
                allowClear: true, // Permite limpiar la selección
                width: '100%' // Asegura que Select2 ocupe todo el ancho del contenedor
            });
        });
        </script>
{% endblock script1 %}
{% block script2 %}
<script>
    document.querySelector('input[name="logo"]').addEventListener('change', function(event) {
        var file = event.target.files[0]; // Obtener el archivo seleccionado
        var reader = new FileReader();
    
        reader.onload = function(e) {
            // Asignar el resultado del FileReader como fuente de la imagen
            document.getElementById('photo').src = e.target.result;
            document.getElementById('photo').style.display = 'block'; // Asegurarse de que la imagen esté visible
    
            // Ocultar el icono de usuario predeterminado
            var imageIcon = document.querySelector('.image-icon');
            if (imageIcon) {
                imageIcon.style.display = 'none';
            }
        };
    
        // Leer el archivo seleccionado y disparar el evento onload después
        reader.readAsDataURL(file);
    });
    document.getElementById('deletePhoto').addEventListener('click', function() {
        // Borrar la imagen de la vista previa
        var photo = document.getElementById('photo');
        photo.removeAttribute('src');
        photo.style.display = 'none';
    
        // Restablecer el valor del campo de entrada de archivo
        var fileInput = document.querySelector('input[name="logo"]');
        fileInput.value = '';
    
        // Mostrar el icono de usuario predeterminado
        var imageIcon = document.querySelector('.image-icon');
        if (imageIcon) {
            imageIcon.style.display = 'block';
        }
    });
</script>
{% endblock %}