{% extends 'general/base.html' %}

{% block titulo %}
Clinica 0
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2" style="padding-left: 40px; padding-right: 40px;">
        <div class="card" style="background: #0289A8; border-radius: 25px; padding-left: 10px; ">
            <div class="card-body">
                <i class="fas fa-hospital fa-7x" style="color: white;"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <a style="font-size: xx-large;"> Nombre de la Clínica: </a>
        <p> </p>
        <a style="font-size: xx-large;"> Dirección: </a>
        <p> </p>
        <a style="font-size: xx-large;"> Responsable de la Clínica: </a>
    </div>
    
</div>

<div class="row" style="padding-top: 40px; padding-left: 40px;">
    <table class="table table-hover" style="width: 80%;">
        <tr style="text-align: center;">
          <th>Hora</th>
          <th>Lunes</th>
          <th>Martes</th>
          <th>Miércoles</th>
          <th>Jueves</th>
          <th>Viernes</th>
        </tr>
        <tr style="text-align: center;">
            <td>10:00 - 11:00</td>
            <td>Dentista 1</td>
            <td>Dentista 1</td>
            <td>Dentista 2</td>
            <td>Dentista 2</td>
            <td></td>
        </tr>
        <tr style="text-align: center;">
            <td>11:00 - 12:00</td>
            <td>Dentista 1</td>
            <td>Dentista 1</td>
            <td>Dentista 2</td>
            <td>Dentista 2</td>
            <td></td>
        </tr>
        <tr style="text-align: center;">
            <td>12:00 - 1:00</td>
            <td>Dentista 1</td>
            <td>Dentista 1</td>
            <td>Dentista 2</td>
            <td>Dentista 2</td>
            <td></td>
        </tr>
        <tr style="text-align: center;">
            <td>1:00 - 2:00</td>
            <td>Dentista 2</td>
            <td>Dentista 2</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="text-align: center;">
            <td>2:00 - 3:00</td>
            <td>Dentista 2</td>
            <td>Dentista 2</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

{% endblock %}