{% extends 'general/base.html' %}
{% load static %}

{% block titulo %}
    {{ clinica.nombre }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-6" style="padding-left: 10px; padding-right: 10px;">
            <div class="card" style="background: #0289A8; border-radius: 25px; padding: 10px;">
                <div class="card-body text-center">
                    {% if clinica.logo %}
                        <img src="{{ clinica.logo.url }}" alt="Logo de la clínica" style="width: 100%; height: 100%; border-radius: 15px;">

                    {% else %}


                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div>
                <a style="font-size: large;">Nombre de la clínica: {{ clinica.nombre }}</a>
            </div>
            <p></p>
            <div>
                <a style="font-size: large;">Dirección: {{ clinica.direccion }}</a>
            </div>
            <p></p>
            <div>
                <h2>Responsables de la clínica:</h2>
                <ul>
                    {% for responsable in clinica.responsables.all %}
                        <li>
                            <a href="{% url 'responsable_detail' responsable.id %}">
                                {{ responsable.get_full_name }}
                            </a>
                        </li>
                    {% empty %}
                        <li>No hay responsables asignados.</li>
                    {% endfor %}
                </ul>
            </div>
            
        </div>
    </div>

    {% if es_administrador or es_superusuario%}
    <div class="row justify-content-end">
        <div class="col-md-2" style="padding-left: 7%;">
            <a class="btn btn-info" style="font-size: 15pt; width: 100px; height: 40px; margin-top: 5px;" href="{% url 'editarClinica' pk=clinica.id %}"> Editar </a>
            <a class="btn btn-danger" style="font-size: 15pt; width: 100px; height: 40px; margin-top: 5px;" href="{% url 'eliminarClinica' pk=clinica.id %}"> Eliminar </a>
        </div>
    </div>
    {% endif %}

    <div class="row mt-4">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-hover" style="width: 100%;">
                    <thead>
                        <tr style="text-align: center;">
                            <th>Hora</th>
                            {% for dia in clinica.dias_true %}
                                <th>{{ dia }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for hora in clinica.generar_horas_entre %}
                        <tr style="text-align: center;">
                            <td >{{ hora|time:"H:i" }}</td>
                            {% for dia in clinica.dias_true %}
                                {% if hora|time:"H" <= "10" %}
                                    <td>Dentista 1</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                        <tr>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}