{% extends 'general/base.html' %}




{% block dashboard %}
        {% if es_dentista %}
        
        Bienvenido Dr.

        {% elif  es_responsable%}
        Bienvenido Responsable

        {% elif es_administrador %}
        Bienvenido Administrador

        {% else %}

            Bienvenido

        {% endif %}      
{% endblock dashboard %}

{% block content %}
<div class="row">
    <div class="col-lg-4 col-8" >
        <div class="small-box bg-info">
            <div class="inner">
                <i class="fa-regular fa-user fa-3x" style="margin-bottom: 45px;" ></i>
                <a style="font-size: xx-large;">Número de pacientes</a>
                <a style="font-size: xx-large; margin-left: 5px;"> 30</a>
                <a href="#" class="small-box-footer" style="background-color: rgba(47, 53, 59, 0.5);display: block;padding: 3px 0; text-align: center;color: antiquewhite;">ver más</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <i class="fa-regular fa-calendar-days fa-3x" style="margin-bottom: 45px;"></i>
                <a style="font-size: xx-large;">Citas próximas</a>
                <a style="font-size: xx-large; margin-left: 5px;"> 5</a>
                <a href="#" class="small-box-footer" style="background-color: rgba(47, 53, 59, 0.5);display: block;padding: 3px 0; text-align: center;color: antiquewhite;">ver más</a>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <i class="fa-solid fa-phone fa-3x" style="margin-bottom: 45px;"></i>
                <a style="font-size: xx-large;">Citas reagendadas</a>
                <a style="font-size: xx-large;margin-left: 5px;">340</a>
                <a href="#" class="small-box-footer" style="background-color: rgba(47, 53, 59, 0.5);display: block;padding: 3px 0; text-align: center;color: antiquewhite;">ver más</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card bg-info">
            <div class="card-body">
                <i class="fa-solid fa-user-plus fa-6x" style="float: left;"></i>
                <a href="#" style="font-size: x-large;text-align: end;color: antiquewhite;"><h2>Añadir paciente</h2></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card bg-info">
            <div class="card-body">
                <i class="fa-regular fa-calendar-plus fa-6x" style="float: left;"></i>
                <a href="#" style="font-size: x-large;text-align: end;color: antiquewhite;"><h2>Añadir cita</h2></a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}




