{% extends 'general/base.html' %}




{% block dashboard %}
    <style>
        .texto-bienvenida {
            font-family: Arial, sans-serif; /* Cambia esto por la fuente que prefieras */
            color: #767676; /* Cambia esto por el color que prefieras */
            font-size: 24px; 
            margin-left:50px;
        }
        
    </style>

            {% if es_dentista %}
            <span class="texto-bienvenida d-none d-md-block">Bienvenido Dr. {{ user_nombre }} {{ user_apellido }}</span>
            {% elif es_responsable %}
                <span class="texto-bienvenida d-none d-md-block">Bienvenido Responsable {{ user_nombre }} {{ user_apellido }}</span>
            {% elif es_administrador %}
                <span class="texto-bienvenida d-none d-md-block">Bienvenido Administrador {{ user_nombre }} {{ user_apellido }}</span>
            {% else %}
                <span class="texto-bienvenida d-none d-md-block">Bienvenido {{ user_nombre }} {{ user_apellido }}</span>
            {% endif %}

{% endblock dashboard %}
{% block dashboard1 %}
<p id="current-time" class="texto-bienvenida d-none d-md-block"></p>

{% endblock dashboard1 %}
{% block content %}


    <script>
        function updateCurrentTime() {
          var now = new Date();
          var timeString = now.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true }) +
                           ' - ' + now.toLocaleString('en-US', { month: 'short', day: 'numeric', year: 'numeric' });
          document.getElementById('current-time').textContent = '' + timeString;
        }
        
        // Actualizar la hora cada segundo
        setInterval(updateCurrentTime, 1000);
        
        // Llamar a la función inmediatamente para inicializar la hora
        updateCurrentTime();
    </script>

    <div class="row">
        <div class="col-lg-4 col-8" >
            <div class="small-box bg-info">
                <div class="inner">
                    <i class="fa-regular fa-user fa-3x" style="margin-bottom: 45px;" ></i>
                    <a style="font-size: xx-large;">Número de pacientes</a>
                    <a style="font-size: xx-large; margin-left: 5px;"> 30</a>
                    <a href="#" class="small-box-footer" style="background-color: rgba(47, 53, 59, 0.5);display: block;padding: 3px 0; text-align: center;color: antiquewhite;">ver más</a>
                </div>
            </div>
        </div>
    
        <div class="col-lg-4 col-6">
            <div class="small-box bg-info">
                <div class="inner">
                    <i class="fa-regular fa-calendar-days fa-3x" style="margin-bottom: 45px;"></i>
                    <a style="font-size: xx-large;">Citas próximas</a>
                    <a style="font-size: xx-large; margin-left: 5px;"> 5</a>
                    <a href="#" class="small-box-footer" style="background-color: rgba(47, 53, 59, 0.5);display: block;padding: 3px 0; text-align: center;color: antiquewhite;">ver más</a>
                </div>
            </div>
        </div>
    
        <div class="col-lg-4 col-6">
            <div class="small-box bg-info">
                <div class="inner">
                    <i class="fa-solid fa-phone fa-3x" style="margin-bottom: 45px;"></i>
                    <a style="font-size: xx-large;">Citas reagendadas</a>
                    <a style="font-size: xx-large;margin-left: 5px;">340</a>
                    <a href="#" class="small-box-footer" style="background-color: rgba(47, 53, 59, 0.5);display: block;padding: 3px 0; text-align: center;color: antiquewhite;">ver más</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-info">
                <div class="card-body">
                    <i class="fa-solid fa-user-plus fa-6x" style="float: left;"></i>
                    <a href="#" style="font-size: x-large;text-align: end;color: antiquewhite;"><h2>Añadir paciente</h2></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-info">
                <div class="card-body">
                    <i class="fa-regular fa-calendar-plus fa-6x" style="float: left;"></i>
                    <a href="#" style="font-size: x-large;text-align: end;color: antiquewhite;"><h2>Añadir cita</h2></a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}




